/vendor/
/node_modules/
/theme/*
!/theme/docs
/dist/*
!/dist/README.md
/src/App/Pages/bin/*
!/src/App/Pages/bin/README.md
/scratch.config.json
/src/App/HTTP/Previewer/exports/*
!/src/App/HTTP/Previewer/exports/README.md
/src/App/HTTP/Editor/exports/*
!/src/App/HTTP/Editor/exports/README.md